<% include partials/_header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5">
        <div class="card-body">
  
          <form action="/add" method="POST">
            <div class="form-group">
              <input type="text" name="name" placeholder="Nombre" class="form-control" autofocus>
            </div>
            <div class="form-group">
              <input type="text" name="lastname" placeholder="Apellido" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" name="cellphone" placeholder="Celular" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" name="city" placeholder="Ciudad" class="form-control">
            </div>
  
            <button type="submit" class="btn btn-success">
              Guardar contacto
            </button>
          </form>
        </div>
      </div>
    <div class="col-md-8">
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="bg-dark">
            <td>n°</td>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Celular</td>
            <td>Opciones</td>
          </tr>
        </thead>
        <tbody>
          <% if (data) { %>
            <% for(var i = 0; i < data.length; i++) { %>
              <tr>
                <td><%= (i + 1) %></td>
                <td><%= data[i].name %></td>
                <td><%= data[i].lastname %></td>
                <td><%= data[i].cellphone %></td>
                <td><%= data[i].city %></td>
                <td>
                  <a href="/update/<%= data[i].id %>" class="btn btn-info">Editar</a>
                  <a href="/delete/<%= data[i].id %>" class="btn btn-danger">Eliminar</a>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
    
  </div>
</div>

<% include partials/_footer %>
